{% extends 'base.html' %}

{% block content %}

<form method="get" class="search-bar">

<input type="text" class="form-control" name="q" placeholder="Search.." id="id_q">

</form>

<P>

<a href="{% url 'personal:upload' %}" class="btn btn-primary btn-sm">Upload</a>

</P>
{% if books %}	
<table class="table">

<thead>
	<tr>
		<th>pickup</th>
		<th>drop</th>
		<th>Download</th>
		<th>Delete</th> 
	</tr>

</thead>

<tbody>
	{% for cab in cabs %}
	<tr>
		<td>{{cab.pickup}}</td>
		<td>{{book.drop}}</td>
		<td><a href="{{cab.pdf.url}}">Download PDF</a></td>
		<td><form method="POST" action="{% url 'CABS:delete' cab.pk %}">
				{% csrf_token %}

		<button type="submit" class="btn btn-primary">Delete</button>
		</form></td>
	</tr>
	{% endfor %}

</tbody>

</table>

{% else %}

<div class="container">
<div class="row">
<div class="card-title">
<div class="card-body"> No results ! </h1>

</div>

{% endif %}


{% endblock %}