{% extends 'base.html' %}

{% block content %}

<form method="get" class="search-bar">

<input type="text" class="form-control" name="q" placeholder="Search.." id="id_q">

</form>

<P>

<a href="{% url 'cabs:files' %}" class="btn btn-primary btn-sm">Upload</a>

</P>
{% if cabbings %}	
<table class="table">

<thead>
	<tr>
		<th>Pickup</th>
		<th>Drop</th>
		<th>Download</th>
		<th>Delete</th> 
	</tr>

</thead>

<tbody>
	{% for cabbing in cabbings %}
	<tr>
		<td>{{cabbing.Pickup}}</td>
		<td>{{book.name}}</td>
		<td><a href="{{book.pdf.url}}">Download PDF</a></td>
		<td><form method="POST" action="{% url 'personal:delete' book.pk %}">
				{% csrf_token %}

		<button type="submit" class="btn btn-primary">Delete</button>
		</form></td>
	</tr>
	{% endfor %}

</tbody>

</table>

{% else %}

<div class="container">
<div class="row">
<div class="card-title">
<div class="card-body"> No results ! </h1>

</div>

{% endif %}
{% endblock %}



