{% extends 'base.html' %}

{% block content %}



<P>

<a href="{% url 'cabs:files' %}" class="btn btn-primary btn-sm">Upload</a>

</P>
{% if cabbings %}	
<table class="table">

<thead>
	<tr>
		<th>Pickup</th>
		<th>Drop</th>
		<th>Download</th>
		 
	</tr>

</thead>

<tbody>
	{% for cabbing in cabbings %}
	<tr>
		<td>{{cabbing.Pickup}}</td>
		<td>{{cabbing.Drop}}</td>
		<td><a href="{{cabbing.File.url}}" download>Download </a></td>
		
		<td><form method="POST" action="{% url 'cabs:delete' cabbing.pk %}">
            {% csrf_token %}

        <button type="submit" class="btn btn-primary">Delete</button>
        </form></td>
	</tr>
	{% endfor %}

</tbody>

</table>

{% else %}

<div class="container">
<div class="row">
<div class="card-title">
<div class="card-body"> No results ! </h1>

</div>

{% endif %}
{% endblock %}



