{% extends "User/base.html" %}
{% load crispy_forms_tags %}


{% block content%}
<style>
.hotel
{
background-image:url('{{ STATIC_URL }}images/background.JPG');
background-repeat:no-repeat;
background-size:100%;
}
</style>
<body class="hotel">
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4"> Book Your Stay</legend>
				{{ form|crispy }}
				</fieldset>
				<div class="form-group">
					<button class="btn btn-outline-info" type="submit">
						Search Availability
					</button>
				</div>
					</form>
		<div class="border-top pt-3">
		
			
		</div>
	</div>
</body>
	{% endblock %}
